@font-face {
    font-family: 'lilita_oneregular';
    src: url('fonts/lilitaone-regular-webfont.woff2') format('woff2'),
         url('fonts/lilitaone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kanitregular';
    src: url('fonts/kanit-regular-webfont.woff2') format('woff2'),
         url('fonts/kanit-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title {
    outline: 2px solid red;
}

body {
    display: flex;
    height: 100vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 37%;

    background-color: blue;
    background-image: url(images/ocean.jpg);
    background-position: center;
}

.logo {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: 100px;

    margin-top: 150px;
    padding: 32px 0;

    gap: 16px;

    background-color: rgba(2, 62, 70, 0.349);
    font-family: 'lilita_oneregular';
    font-size: 20px;
    color: rgb(238, 238, 219);
    letter-spacing: 2px;
}

.logo-pic {
    height: 15vh;
}

.footer {
    align-self: center;
    width: 100%;
    text-align: center;

    margin-bottom: 24px;

    color: white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 65%;
    padding: 50px;

    /*background-color: rgb(113, 144, 184);*/
    background: linear-gradient(to bottom, rgb(169, 179, 182), rgb(40, 107, 151));
    font-family: 'kanitregular';
}

.subtext {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 40px;

    transform: translateY(-10%);

    letter-spacing: 1px;
}

.subtext-1 {
    color: white;
}

.subtext-2 {
    color: #1c3b46;
}

.form {
    display: flex;
    flex-direction: column;

    gap: 40px;

    height: 300px;
    padding: 40px;
    margin-bottom: 50px;
    transform: translateY(-5%);

    background-color: #1a61be;
    box-shadow: 0 0px 20px rgb(63, 77, 156);

    border-color: #1a61be00;
    border-radius: 15px;

    letter-spacing: 1px;
}

.form legend {
    float: left;
    margin-bottom: 16px;

    font-size: 30px;
    color: rgb(255, 255, 255);
}

.name, .info, .password {
    display: flex;
    gap: 75px;
}

input {
    display: inline-block;
    height: 30px;
    width: 225px;
    border: 2px solid rgb(216, 216, 216);
    border-radius: 3px;
    outline: none;
    background-color: transparent;

    font-size: 16px;
    letter-spacing: 1px;
    box-shadow: 0 0px 10px rgba(255, 0, 0, 0);

    transition: 
        border 0.5s ease-out;
}

.left-placeholder {
    position: absolute;
    font-size: 16px;
    letter-spacing: 0px;
    background-color: transparent;
    color:rgb(27, 27, 27);

    translate: 5px 7px;

    transition: all 0.5s ease-out;
}

.right-placeholder {
    position: absolute;
    font-size: 16px;
    letter-spacing: 0px;
    background-color: transparent;
    color:rgb(27, 27, 27);

    translate: 315px 7px;

    transition: all 0.5s ease-out;
}

input:focus + span.left-placeholder, input:not(:placeholder-shown) + span.left-placeholder {
    background-color: red;
    translate: 5px -10px;

    color: rgb(255, 255, 255);

    scale: 0.8;
}

input:focus + span.right-placeholder, input:not(:placeholder-shown) + span.right-placeholder {
    background-color: red;
    translate: 315px -10px;

    color: rgb(255, 255, 255);

    scale: 0.8;
}

input:focus, input:not(:placeholder-shown) {
    border: 2px solid red;
    box-shadow: 0 0px 10px red;
}

/*input.fname:focus ~ span.fnplaceholder, input.fname:not(:placeholder-shown) ~ span.fnplaceholder {
    outline-width: 5px;
    color: rgb(255, 255, 255);
    background-color: red;
    border: 2px solid rgb(255, 0, 0);


    translate: 0px -10px;

    scale: 0.8;
}

input.lname:focus ~ span.lnplaceholder, input.lname:not(:placeholder-shown) ~ span.lnplaceholder {
    outline-width: 5px;
    color: rgb(255, 255, 255);
    background-color: red;


    translate: 310px -10px;

    scale: 0.8;
}*/

@media only screen and (min-width: 1000px) {
    body {
        margin: 0 300px;
        background-color: rgb(50, 54, 70);
        box-shadow: 0 0 100px rgb(91, 128, 139);
    }

    .logo {
        font-size: 30px;
    }
}